/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */
body{
	background: #000 url('../images/bg.png') fixed;
  color: #fff;
}

/* Links */
a {color:#84c225; text-decoration: none}
a:hover {color:#84c225;}
a:visited {color:#4A662F;}
a:visited:hover {color:#AABF56;}

.container{
  background: #111;
}

.bg3{
  background: #333;
}

/* #Header
================================================== */
#blog_title{
  margin: 20px auto;
  width: 207px;
  height: 70px;
  background: url('../images/logo.png') no-repeat;
  color: #fff;
}

#blog_title h1{width:207px;}
#blog_title span{display:none}

#header{
  width: 100%;
  overflow: hidden;
}

.buttons{
  margin: 20px auto;
}

.buttons ul{
  text-align: center;
  margin: 0 auto;
  display: table;
  overflow: hidden;
}
.buttons li{
  float: left;
  margin: 0 10px;
}

#bio{
  font-size: 0.8em;
  padding: 10px;
  margin: 0;
}

.li_menu {
  list-style: none;
}
.li_menu  li{
  display: inline;
  float: left;
}

#nav_menu li a{
  padding: 7px 7px 7px;
  display: block;
  font-weight: bold;
  color: #fff;
}

#nav_menu ul{
  height: 30px;
  margin: 0;
}

#nav_menu ul li{
  margin: 0 10px;
  font-size: 0.9em;
}

.searchbox{
  margin: 2px;
}
.searchbox fieldset, form{
  margin: 0 auto;
}
.searchbox input{
  display: inline;
  padding-right:24px;
  margin: 2px auto;
  height: 12px;
}
.searchbox button{
  margin: 0 -26px;
  height: 18px;
  background: url('../images/search.png') no-repeat;
  border: 0;
}

/* #Posts
================================================== */
.post{
  padding: 10px;
  background: #fff;
  overflow: hidden;
  margin: 20px 0;
  color: #010;
  border-radius: 10px;
}

.mini{
  font-size: 0.8em;
  max-height: 200px;
  mineight: 200px;
}

.post a {color:#4A662F; text-decoration: none}
.post a:hover {color:#84c225;}
.post a:visited {color:#4A662F;}
.post a:visited:hover {color:#AABF56;}


.meta_top{
  clear: both;
}

.post ul.li_menu li{
  font-weight: bold;
  margin-right: 20px;
  padding: 4px 4px 4px 20px;
}

.post ul.li_menu li.date{
  background: url('../images/cal.png') no-repeat;
  background-position: -1px 5px;
}

.meta_top ul.li_menu li.comments{
  background: url('../images/comentarios.png') no-repeat;
  background-position: -0px 5px;
}

.meta_bottom ul.li_menu li.category{
  background: url('../images/category.png') no-repeat;
  background-position: -0px 5px;
}

.meta_bottom ul.li_menu li.tag{
  background: url('../images/tags.png') no-repeat;
  background-position: -0px 5px;
}

.meta_bottom ul.li_menu li.read{
  padding: 4px 10px;
  border: solid 1px;
  background: #a9a;
}
/* WordPress */

.alignleft {
	float:left;
	text-align:left;
	margin-right:10px;
}
.alignright {
	float:right;
	text-align:right;
	margin-left:10px;
}
.aligncenter {
	margin: 10px auto;
	text-align: center;
	display: block;
}

.wp-caption {
	background: #333;
	border:1px solid #75A553;
	text-align:center;
	padding:7px 2px 2px;
  border-radius: 10px;
}
.wp-caption p.wp-caption-text {
	font-size:10px;
	line-height:17px;
	padding:2px 4px 5px;
	margin:0;
	color:#fff;
	font-style:italic;
}


.wp-caption p.wp-caption-text ul{
  list-style: circle;
}
.wp-caption p.wp-caption-text li{
    color:#fff;
}


/* #Sidebar
================================================== */
#sidebar{
}

/* #Footer
================================================== */

#footer{
  background:#000;
}

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/