/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */
body{
	background: #000 url('../images/bg.png') fixed;
  color: #fff;
}

/* Links */
a {color:#84c225; text-decoration: none}
a:hover {color:#84c225;}
a:visited {color:#4A662F;}
a:visited:hover {color:#AABF56;}

.container{
  background: #111;
}

.bg3{
  background: #333;
}

blockquote p{
  font-size: 0.8em;
}

/* #Header
================================================== */
#blog_title{
  margin: 20px auto;
  width: 207px;
  height: 70px;
  background: url('../images/logo.png') no-repeat;
  color: #fff;
}

#blog_title h1{width:207px;}
#blog_title span{display:none}

#header{
  width: 100%;
  overflow: hidden;
}

.buttons{
  margin: 20px auto;
}

.buttons ul{
  text-align: center;
  margin: 0 auto;
  display: table;
  overflow: hidden;
}
.buttons li{
  float: left;
  margin: 0 10px;
}

#bio{
  font-size: 0.8em;
  padding: 10px;
  margin: 0;
}

.li_menu {
  list-style: none;
}
.li_menu  li{
  display: inline;
  float: left;
}

#nav_menu li a{
  padding: 7px 10px;
  display: block;
  font-weight: bold;
  color: #fff;
  height: 30px;
}

#nav_menu li a:hover{
  color: #010;
  background: #fff;
}

.house a{
  width: 16px;
  background: url("../images/home.png") no-repeat 7px 7px;
}
#nav_menu li a.house:hover{
  background: #f00 url("../images/home_a.png") no-repeat 4px 7px;
}

#nav_menu ul{
  height: 30px;
  margin: 0;
}

#nav_menu ul li{
  margin: 0;
  font-size: 0.9em;
  height: 30px;
}

.searchbox{
  margin: 2px;
}
.searchbox fieldset, form{
  margin: 0 auto;
}
.searchbox input{
  display: inline;
  padding-right:24px;
  margin: 2px auto;
  height: 12px;
  border-radius: 20px;
}
.searchbox button{
  margin: 0 -26px;
  height: 18px;
  background: url('../images/search.png') no-repeat;
  border: 0;
}

/* #Posts
================================================== */
.post{
  padding: 10px;
  background: #fff;
  overflow: hidden;
  margin: 20px 0;
  color: #010;
  border-radius: 10px;
}

.mini{
  font-size: 0.8em;
  max-height: 200px;
  mineight: 200px;
}

.post a {color:#4A662F; text-decoration: none}
.post a:hover {color:#84c225;}
.post a:visited {color:#4A662F;}
.post a:visited:hover {color:#AABF56;}


.meta_top{
  clear: both;
}

.post ul.li_menu li{
  font-weight: bold;
  font-size: 0.8em;
  margin-right: 20px;
  padding: 4px 4px 4px 20px;
}

.post ul.li_menu li.date{
  background: url('../images/cal.png') no-repeat;
  background-position: -1px 5px;
}

.meta_top ul.li_menu li.comments{
  background: url('../images/comentarios.png') no-repeat;
  background-position: -0px 5px;
}

.meta_bottom ul.li_menu li.category{
  background: url('../images/category.png') no-repeat;
  background-position: -0px 5px;
}

.meta_bottom ul.li_menu li.tag{
  background: url('../images/tags.png') no-repeat;
  background-position: -0px 5px;
}

.meta_bottom ul.li_menu li.read{
  padding: 4px 10px;
  border: solid 1px;
  background: #bcb;
}

.post_meta{
  text-align: center;
  font-size: 0.9em;
  margin: 20px 0;
}

/* #Post comments
================================================== */

.comments h3{
  color: #fff
}

.comments ol{
  margin: 0;
  list-style: none;
}

.comments ul{
  margin: 0;
}

.comments li{
  padding: 10px;
  overflow: hidden;
  clear: both;
  border-radius: 10px;
  border: solid 1px #333;
}

.comments li img{
  margin: 10px;
}

.comments .author{
  font-weight: bold;
}
.comments .user{
  background: #222;
}
.comments .admin{
  background: #111;
  border: solid 1px #777;
}
.comments .admin .avatar{
float: right;
}

.avatar {
  float: right;
}

.comments .reply{
  float: left;
  margin-bottom: 10px;
  padding-left: 18px;
  background: url("../images/reply.png") no-repeat;
}

.comments .metadata{
  background: #222;
  padding: 10px;
  border-radius: 10px;
  border: solid 1px #010;
  margin-bottom: 10px;
  color: #fff;
  font-size: 0.8em;
 }
.comments .metadata strong{
  color: #fff;
}

.comments .form{
  padding: 20px;
  background: #fff;
  color: #000;
  border-radius: 10px;
}

.comments input[type="text"]{
  background: #D5E0C2;
}

.comments textarea{
  width: 600px;
  background: #D5E0C2;
}

/* WordPress */

.alignleft {
	float:left;
	text-align:left;
	margin-right:10px;
}
.alignright {
	float:right;
	text-align:right;
	margin-left:10px;
}
.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption {
	max-width: 92%; /* Keep wide captions from overflowing their container. */
	padding: 4px;
	background: #333;
	border:1px solid #75A553;
	text-align:center;
	padding:7px 2px 2px;
  border-radius: 10px;
}
.wp-caption p.wp-caption-text {
	font-size:10px;
	line-height:17px;
	padding:2px 4px 5px;
	margin:0;
	color:#fff;
	font-style:italic;
}

.wp-caption p.wp-caption-text ul{
  list-style: circle;
}
.wp-caption p.wp-caption-text li{
    color:#fff;
}

img.wp-smiley,
.rsswidget img {
	border: 0;
	border-radius: 0;
	box-shadow: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}



/* Responsive images */
.entry-content img,
.comment-content img,
.widget img {
	max-width: 97.5%; /* Fluid images for posts, comments, and widgets */
}
img[class*="align"],
img[class*="wp-image-"],
img[class*="attachment-"] {
	height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
  max-width: 80%;
}
img.size-full,
img.size-large,
img.header-image,
img.wp-post-image {
	max-width: 100%;
	height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}

/* Make sure videos and embeds fit their containers */
embed,
iframe,
object,
video {
	max-width: 100%;
}


/* #Sidebar
================================================== */
#sidebar h2{
  color: #fff;
}

/* #Footer
================================================== */

#footer{
  background:#000;
  font-size: 0.8em;
}

#footer strong{
  color: #fff;
}

#footer ul{
 list-style: disc;
}

.footer_left{
  padding-top: 100px;
  padding-left: 40px;
  background: url('../images/mini-logo.png') no-repeat 20px 20px;
}

.footer_right{
  padding-top: 20px;
}

.footer_right div{
  margin-bottom: 30px;
  padding-left: 38px;
  min-height: 32px;
}
.footer_right div p{
    margin-bottom: -2px;
}
.cc{
  background: url('../images/cc.png') no-repeat;
  clear: both;
}

.wordpress{
  background: url('../images/wordpress.png') no-repeat;
  clear: both;
}

/* #Page Styles
================================================== */
.codigo{
  background: #151515 url('../images/terminal.png') 3px 3px no-repeat;
  color: #fff;
  font-family: courier;
  padding: 26px 10px;
  margin-bottom: 30px;
}
.codigo code{
		background: #151515;
}

.obvio{
  background: #f1f0ad url('../images/capitan-obvio.png') 3px 3px no-repeat;
  color: #000;
  font-family: courier;
  padding: 26px 10px;
  margin-bottom: 30px;
}

.buena-idea{
  background: #a7cdc2 url('../images/buena-idea.png') 3px 3px no-repeat;
  color: #000;
  font-family: courier;
  padding: 26px 10px;
  margin-bottom: 30px;
}




/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/